.endScreen {
  background-color: #00000090;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.endScreenMessage {
  $size: 30em;

  max-width: 90%;
  width: $size;
  height: $size;

  > img {
    width: 12em;
  }

  > p {
    font-size: 3em;
  }

  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em 0 var(--outcome-color);

  > button {
    border: none;
    font-size: 1em;
    background-image: linear-gradient(yellow, red);
    font-weight: 900;
    padding: 1em;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 4em;
}
