.card {
  width: 7em;
  height: 12em;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;

  $perspective: 500px;

  --rotate-x: 0deg;
  --rotate-y: 0deg;

  transform: perspective($perspective) rotateX(var(--rotate-x))
    rotateY(var(--rotate-y));

  &.cardEnter {
    transform: perspective($perspective) rotateY(180deg);
  }

  &.cardEnterActive {
    transform: perspective($perspective) rotateY(0deg);
  }

  &.cardExit {
    transform: perspective($perspective) rotateY(0deg);
  }

  &.cardExitActive {
    transform: perspective($perspective) rotateY(180deg);
  }
}

.frontSide,
.backSide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;

  img {
    object-fit: contain;
    width: 100%;
    padding: 0 0.5em;
    user-select: none;
  }
}

$card-color: linear-gradient(to bottom, yellow 0%, yellow 30%, red 100%);

.frontSide {
  background-image: $card-color;

  > figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
  }

  img {
    width: 100%;
  }

  figcaption {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
}

.backSide {
  background-color: blue;
  transform: rotateY(180deg) translateZ(1px);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

// @keyframes inf-rot {
//   from {
//     transform: perspective($perspective) rotateY(0deg);
//   }
//
//   to {
//     transform: perspective($perspective) rotateY(180deg);
//   }
// }
